/* Etiquetas Generales */
body{
    margin: 0;
    padding: 0 10px 0 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
li{
    padding-top: 7px;
}
li a{
    color: gray;
}

/* Clases */
.main{
    padding: 0;
    color: black;
}
.submain{
    padding-left: 20px;
}
.index{
    font-size: 12px;
    height: 100%;
    width: 175px;
    position: fixed;
    background-color: white;
    border-right: 1px solid gray;
    padding-right: 10px;
}
.content{
    margin-left: 190px;
}
.header{
    display: grid;
    grid-template-columns: 80% 20%;
    border-bottom: 2px solid black;
}
.header img{
    width: 150px;
}
.header h1{
    padding: 0 50px;
}
.subtitle{
    display: flex;
    justify-content: center;
    font-size: 20px;
}
.text{
    padding: 0 50px 20px 50px;
    letter-spacing: 1px;
}
.listOflists{
    padding: 0 50px 20px 50px;
}
.listOflists h3,
.listOflists p{
    padding-left: 50px;
    color: rgb(75, 73, 73);
}
.listOflists h3{
    font-size: 17px;
    padding-left: 70px;
}
.footer{
    padding-top: 135px;
    display: grid;
    grid-template-columns: 20px 155px;
    column-gap: 10px;
    row-gap: 5px;
}
.footer img{
    width: 20px;
}
.footer a{
    color: black;
}
.footer .copy .copy-icon{
    font-size: 15px;
}
.footer .copy p{
    margin: 0;
}
.footer .copy{
    display: flex;
    grid-column: span 2;
}

/* Efectos */
li a:hover{
    text-decoration: underline;
    font-size: 13px;
}
.footer a:hover{
    text-decoration: underline;
}
